body{
    margin: 0px;
}

h1,
p{
    margin: 0px;
}

.brasil{
    font-family: "Poppins";
    font-size: 400;
    background: linear-gradient(yellow, green);
    display: grid;
    justify-content: center;
    align-items: center;
}

.espanha{
    font-family: "Poppins";
    font-size: 400;
    background: linear-gradient(red, yellow, red);
    display: grid;
    justify-content: center;
    align-items: center;
}

.uruguai{
    font-family: "Poppins";
    font-size: 400;
    background: linear-gradient(white, rgb(0, 98, 255));
    display: grid;
    justify-content: center;
    align-items: center;
}