body{
    margin: 0px;
}

h1,
p{
    margin: 0px;
}

.header{
    font-family: "Poppins";
    font-size: 400;
    background: linear-gradient(yellow, green);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
